<form method="post" id="postForm">
<div class="blog">
  <textarea type="text" class="title" placeholder="Post title..." id="title"></textarea>
  <textarea type="text" class="article" placeholder="Start writing here..." id="article"></textarea>
</div>

<div class="blog-options">
  <button class="btn dark publish-btn" type="submit">publish</button>
  <input type="file" accept="image/*" id="image-upload" hidden>
  <label for="image-upload" class="btn grey upload-btn">Upload Image</label>
</div>
</form>

{{!-- TODO: change title to post --}}
{{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.post_body}}
    </p>
  </div>
</div>
{{> comment comments=post.comments}}
{{/each}}


{{!-- <div class="blog-card">
  <img src="#" class="blog-image" alt="">
  <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur.</h1>
  <p class="blog-overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos
    porro repellat harum. Adipisci tempora corporis rem cum.</p>
  <a href="/" class="btn dark">read</a>
</div> --}}


</section>


<script>
  var dd_main = document.querySelector(".dd_main");

  dd_main.addEventListener("click", function () {
    this.classList.toggle("active");
  })
</script>

<script src="/js/post.js"></script>