  <header id="main-header" class="py-2 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            Discussion Board</h1>
        </div>
      </div>
    </div>
  </header>


  <div class="col-md-6">
    <h3>Create a new post:</h3>
    {{! form for new post }}
    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name">Post title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">Content:</label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit post</button>
      </div>
    </form>
  </div>

{{!-- <section id="actions" class="py-4 mb-4 bg-med">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal">
            <i class="fas fa-plus"></i> Add Post
          </a>
        </div>
        </div>
        </section> --}}



<section id="posts">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              
              <h4>Latest Posts</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Posted By:</th>
                  <th>Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                 {{#each posts as |post| }}
                <tr>
                  <td>{{post.id}}</td>
                  <td>{{post.title}}</td>
                  <td>{{post.user.displayName}}</td>
                  <td>{{format_date post.date_created}}</td>
                  <td>
                    <a href="/post/{{post.id}}" class="btn btn-secondary">
                      <i class="fas fa-angle-double-right"></i> Details
                    </a>
                  </td>
                </tr>
                {{/each}}
</tbody>
     </div>
        </div>
      </div>
    </div>
  </section>

<!-- ADD POST MODAL -->
  <div class="modal fade" id="addPostModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Add Post</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form new-post-form">
            <div class="form-group">
              <label for="post-name" id="title">Title</label>
              <input type="text" class="form-control" id="post-title" name="post-title">
            </div>
            <div class="form-group">
              <label for="post-content">Body</label>
              <textarea name="post-content" class="form-control form-input" id="post-content"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="postForm" data-dismiss="modal" type="submit">Submit Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>


<script src="/js/post.js"></script>