<section id="posts">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Latest Posts</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Posted By:</th>
                  <th>Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                 {{#each posts as |post| }}
                <tr>
                  <td>{{post.id}}</td>
                  <td>{{post.title}}</td>
                  <td>{{post.user.displayName}}</td>
                  <td>{{format_date post.date_created}}</td>
                  <td>
                    <a href="/post/{{post.id}}" class="btn btn-secondary">
                      <i class="fas fa-angle-double-right"></i> Details
                    </a>
                  </td>
                </tr>
                {{/each}}
</tbody>
     </div>
        </div>
      </div>
    </div>
  </section>




<script src="/js/post.js"></script>